{% extends 'base.html.twig' %}

{% block title %}Acceuill{% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-3">Bonjour les CC Worker !</h1>
        <p class="lead">La solution simple de micro-covoiturage adaptée pour les entreprises</p>
        <hr class="my-4">
        <p> Réaliser des économies, soyez acteurs de la réduction des émissions de Co2 et du
            désengorgement des routes au niveau de votre commune.<br>
            Cette solution vous permet ceci, la solution de covoiturage entre le lieu de votre domicile
            et celui de votre lieu de travail, partager le trajet avec un collègue et même plusieurs.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="nav nav-tabs mt-5">
                <li class="nav-item">
                    <a class="nav-link active text-light bg-dark" data-toggle="tab" href="#home">Passager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light bg-dark" data-toggle="tab" href="#profile">Conducteur</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content mt-2">
                <div class="tab-pane fade show active text-light" id="home">
                    <p>- Créer un compte avec vos identifiants Google.<br>
                        - Cliquer sur le nombre de places à disposition sur votre trajet.<br>
                        - Valider la réservation.
                    </p>
                </div>
                <div class="tab-pane fade text-light" id="profile">
                    <p>- Créer un compte avec vos identifiants Google.<br>
                        - Cliquer sur "panneau" et "ajouter un trajet".<br>
                        - Remplissez les 4 champs.<br>
                        - Valider l'ajout du trajet.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center mb-4">
            <img src="images/tutur.png" width = 250px height = 250px alt="">
        </div>
    </div>

</div>

{% endblock %}
