{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<!--<div class="test">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h1>Bonjour les CC Worker !</h1>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>-->

<div class="container">
    <button type="button" class="btn btn-secondary mt-3">
        <a href="{{ path ('company')}}">Pour les entreprises, l'inscription c'est par ici</a>
    </button>
    <div class="jumbotron mt-4">
        <h1 class="display-4 text-center">Bonjour les CC Worker !</h1>
        <p class="lead text-center">Une solution simple de micro-covoiturage adaptée pour les entreprises</p>
        <hr class="my-4">
        <p> Soyez acteurs de la réduction des émissions de dioxyde de carbone et de
            la baisse du trafic automobile au niveau de votre commune.<br>
            Car CoWorker peut réaliser cela, il s'agit d'une solution de covoiturage pour le trajet domicile,
            travail à partager avec un ou plusieurs collègues.
        </p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="nav nav-tabs mt-5">
                <li class="nav-item">
                    <a class="nav-link active text-light" style="background-color:transparent;" data-toggle="tab" href="#Passager">Passager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light"style="background-color:transparent;"  data-toggle="tab" href="#Conducteur">Conducteur</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content mt-2">
                <div class="tab-pane fade show active text-light" id="Passager">
                    <p>- Créer un compte avec vos identifiants Google.<br>
                        - Cliquer sur le nombre de places restantes sur votre trajet.<br>
                        - C'est réservé.
                    </p>
                </div>
                <div class="tab-pane fade text-light" id="Conducteur">
                    <p>- Créer un compte avec vos identifiants Google.<br>
                        - Cliquer sur "menu" et "créer un trajet".<br>
                        - Remplissez les 4 champs.<br>
                        - Valider l'ajout du trajet.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center mb-4">
            <img src="images/tutur.png" width = 250px height = 250px alt="logo de Car CoWorker">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron shad">
                    <p class="lead">
                        Encouragez vos salariés au covoiturage, vous aurez tout à y gagner :
                    </p>
                    <hr class="my-4">
                    <p>1 / Bien être au travail<br>
                        2 / Lien social et cohésion d’équipe<br>
                        3 / Libération de places de parking.<br>
                        4 / et bien sûr respect du Plan mobilité
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
