{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}

<style>
    #form_schedule .form-control { width: auto; }
</style>

<div class="container">
    <div class="card border-success mt-3 mb-3">
        <div class="card-header text-center">Créer votre trajet</div>
        <div class="card-body">

            {{ form(form) }}
            
        </div>
    </div>
</div>

{% endblock %}
