body {
    background-image: url('/images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}
footer {
    margin-top: auto;
    bottom: 0;
}

.annuler {
    float: right;
}
.creer {
    float: left;
}
.card-footer  {
    background-color:rgb(36, 38, 37);
}

.g-signin2 {
    box-shadow: none;
}
