body {
    background-image: url('/images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
footer {
    width:100%;
    margin-top: auto !important;

}
.card-footer  {
    background-color:rgb(36, 38, 37);
}
.bla {
    margin: auto;

}
.annuler {
    float: right;
}
.creer {
    float: left;
}
