{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
<div class="container mt-2 mb-3">
    <ul class="nav nav-tabs mt-5">
        <li class="nav-item">
            <a class="nav-link active text-light" style="background-color:transparent;" data-toggle="tab" href="#Entreprise">Entreprise</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content mt-2">
        <div class="tab-pane fade show active text-light" id="Passager">
            <p>- Créer un compte avec Google.<br>
                - hfioiofjij<br>
                - Valider l'inscription.
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <p class="card-text">
                        <form class="form" action="" method="post">
                            <div class="form-group">
                                <label for="form1">Nom de l'entreprise :</label>
                                <input type="text" name="firstname" class="form-control" id="test1" placeholder="Indiquer le nom de l'entreprise" required/>
                            </div>
                            <div class="form-group">
                                <label for="form2">Adresse postale :</label>
                                <input type="text" name="adresse" class="form-control" id="test2" placeholder="Indiquer le numéro de la voie et la rue" required/>
                                <div>
                                    <select search-city class="search-city" name="cityId" style="width:100%;">
                                        <option>Sélectionner une ville</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="form3">Email :</label>
                                <input type="text" name="email" class="form-control" id="test3" placeholder="Enter l'e-mail de l'entreprise" required/>
                            </div>
                            <div class="form-group">
                                <label for="form4">Téléphone : </label>
                                <input type="number" name="phone" class="form-control" id="test4" placeholder="Indiquer le numéro de téléphone (facultatif)" required/>
                            </div>
                            <input type="hidden" name="token" value=""/>
                            <input class="btn btn-secondary" type="submit" name="submit" value="Valider"/>
                            <button type="reset" class="btn btn-primary" NAME="submit">Réinitialiser</button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
