{% extends 'base.html.twig' %}

{% block title %}test trop chiant{% endblock %}

{% block body %}
<div class="container">
    <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" name="search" type="text" placeholder="Villes, 4 lettres minimum">
         <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sélectionnez la ville
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for results in result %}
                <a class="dropdown-item" href="#">{{ results.name }}</a>
            {% endfor %}
        </div>
    </div>
    <select search-autocomplete class="js-example-basic-single" name="state">
        {% for results in result %}
            <option value="AL">{{ results.name }}</option>
        {% endfor %}
        
    </select>
</div>


{% endblock %}
